
/* Contact */

.Contact {
	padding: 2em 0;
	position: relative;
}

.Contact input:focus,
.Contact textarea:focus {
	outline: none;
}

/* Contact background */

.Contact-background {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

/* Contact inner */

.Contact-inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-flow: column;
	flex-flow: column;
	position: relative;
	width: 100%;
	text-align: center;
}

/* Contact header */

.Contact-header {
	-webkit-align-items: flex-start;
	align-items: flex-start;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-flex-flow: column;
	flex-flow: column;
	margin-bottom: 1.5em;
	width: 100%;
}


@media(min-width: 96em) {

	.Contact-inner {
		top: 50%;
		-webkit-transform: perspective(1px) translateY(-50%);
		-ms-transform: perspective(1px) translateY(-50%);
		transform: perspective(1px) translateY(-50%);
	}

}